<%- layout('layout/template.ejs') %>

<div class="render-movies row row-cols-1 row-cols-md-3 g-4 w-75 py-5 m-auto">
    <% for (movie of movies) { %>
    <div class="col" style="width: 33%;">
        <div class="card border-bottom bg-dark text-white text-opacity-75 h-100 w-100">
            <div style="height:20rem">
                <img src="https://image.tmdb.org/t/p/original/<%=movie.image%>" class="card-img-top h-100" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title"><%=movie.title%></h5>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-text"><%=movie.release_info%></p>
                    <div class="d-flex">
                        <form action="/homepage/moviesLike" method="POST">
                            <input type="hidden" id="hiddenInput" name="movieId" value="<%=movie.id%>" />
                            <input type="submit" class="text-decoration-none h2 bg-transparent border-0 link-danger"
                                value="&hearts;">
                        </form>
                        <% if(user.type == 'typeA'){ %>
                        <button class="bg-transparent border-0 h5" id="show-comment-form">&#128172;</button>
                        <div id="comment-form" style="transition:.7s; top:60%"
                        class="position-absolute end-0 opacity-0 container bg-dark p-2">
                        <form action="/homepage/moviesComment" method="POST">
                            <input type="hidden" id="hiddenInput" name="movieId" value="<%=movie.id%>" />
                            <input class="form-control" type="text" name="comment" placeholder="comment" />
                            <input type="submit" class="btn btn-sm my-2 btn-success text-decoration-none h5 border-0"
                                value="Send">
                        </form>
                        <% for (comment of movie.comment) { %>
                            <p><%=comment%></p>
                        <%}%>
                    </div>
                        <% } %>
                    </div>
                    

                </div>
                <p class="card-text"><%=movie.description%></p>
            </div>

        </div>
    </div>
    <% } %>
</div>

<script>
    $('body').on('click', "#show-comment-form", function () {
        let el = $(this).parent()
        el.find('#comment-form').toggleClass('opacity-0')
    })
</script>